<!-- フォロー詳細画面 -->
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-20 col-sm-30 mx-10 mx-sm-auto">
      <div class="bg-light py-5 px-5">
        <h3 class="p-4 my-3">フォロー数</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do | customer | %>
              <tr>
                <td>
                  <%= link_to customer_path(customer) do %>
                    <%= image_tag customer.get_profile_image(50,50) %>
                  <% end %>
                </td>
                <td>
                  <%= customer.last_name %><%= customer.first_name %>
                </td>
                <td>
                  <%= link_to follows_customer_path(customer) do %>
                  <h6>フォロー数<%= customer.followers.count %></h6>
                  <% end %>
                </td>
                <td>
                <%= link_to followers_customer_path(customer) do %>
                <h6>フォロワー数<%= customer.followeds.count %></h6>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
