<!-- イベントチケット情報編集画面 -->
<div class="container">
  <div  class="row no-gutters">
    <div class="col-md-20 col-sm-30 mx-10 mx-sm-auto">
      <div class="bg-light py-5 px-5">
        <h3 class="mt-3">■イベントチケット情報編集</h3>
          <% if @event_ticket.errors.any? %>
            <%= @event_ticket.errors.count %>errors occurred
              <ul>
                  <% @event_ticket.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
          <% end %>
          <div class="form-body p-4">
            <%= form_with model:@event_ticket, url: admin_event_event_ticket_path do |f| %>
              <%= f.label :"■イベントタイトル名" %>
              <%= f.text_field:event_title, class:"form-control", autofocus:true %>

              <%= f.label :"■イベントチケット名" %>
              <%= f.text_field:ticket_name, class:"form-control" %>

              <%= f.label :"■イベントチケット販売開始日" %>
              <%= f.text_field:ticket_startday, class:"form-control" %>

              <%= f.label :"■イベントチケット販売終了日" %>
              <%= f.text_field:ticket_endday, class:"form-control" %>

              <%= f.label :"■イベント会場名" %>
              <%= f.text_field:ticket_place, class:"form-control" %>

              <%= f.label :"■イベント公演日" %>
              <%= f.text_field:performance_date, class:"form-control" %>

              <%= f.label :"■チケット説明文" %>
              <%= f.text_area:ticket_introduction, class:"form-control" %>

              <%= f.label :"■税込価格（税抜価格）" %>
              <%= f.text_field :ticket_price, class:"form-control" %>

              <div class="mt-3">
                <%= f.label :"■販売ステータス" %>
                <%= f.radio_button :sales_status, true %>
                <%= f.label :sales_status, "販売中", {value: :true, style: "display: inline-block;" } %>
                <%= f.radio_button :sales_status, false %>
                <%= f.label :sales_status, "販売停止中", {value: :false,style: "display: inline-block" } %><br>
              </div>

              <%= f.submit '変更を保存', class:"btn btn-success" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>